		:root{
			font-size:62.5%;
		}

		*{
			box-sizing: border-box;
			line-height: 1.5;
			/*border:1px solid #A9A9A9;*/
		}
		.border-bottom{
			border-bottom:2px solid rgba(229, 90, 84, 1);
			width:8rem	
		}
		/* ----wrapper -----*/
		.wrapper{
			display:grid;
			grid-template-rows: 100vh auto auto;
			font-size:1.6rem;
		}
		/*      jumbotron -------*/
		.navigation{
			display:flex;
			font-size:2rem;
			padding-top: 2rem;
		}
		.logo{
			padding-left:4rem;
			font-weight: bold;

		}
		.nav-menu{
			margin-left: auto;
			padding-right: 4rem;
		}
		.jumbotron{
			position:relative;
			background-image: url("images/jumbotron-image.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position:relative;
			font-family: 'Oxygen', sans-serif;
			color:#ffffff;
			z-index:-2;
		}
		.jumbotron::after, .awards-section::after{
			position:absolute;
			top:0;
			width:100%;
			height:100%;
			bottom:0;
			content:"";
			background-color: rgba(42,43,47,.6);
			display:block;
			z-index:-1;
		}
		.jumbotron-content{
			top:30%;
			position:absolute;
			z-index:1;
			padding:4rem;
		}
		.jumbotron-name{
			position:relative;
			font-size:4rem;
			color: rgba(255,255,255,1);

		}
		.jumbotron-desc{
			font-size:2rem;

		}
		.link{
			font-size:1.5rem;
			color:inherit;
			text-decoration: none;
		}
		
		.jumbotron .border-bottom{
			margin-top: 1.5rem;
		}
		/*-----portfolio -----*/
		/* Style the tab */
		.tabcontent{
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			grid-auto-rows:300px;
		}
		.tabcontent img{
			width:100%;
			height:100%;
			object-fit: cover;

		}


		.tab {
		  /*overflow: hidden;*/
		  border: 1px solid #ccc;
		  background-color: rgba(0,0,0,0.7);
		  display:flex;

		}

		/* Style the buttons that are used to open the tab content */
		.tab button {
		  background-color: transparent;
		  border: none;
		  outline: none;
		  cursor: pointer;
		  padding: 14px 16px;
		  transition: 0.3s;
		  font-size:1.4rem;
		  font-family: 'Oxygen', sans-serif; 
		  color:#ffffff;
		  font-weight: bold;
		}

		/* Change background color of buttons on hover */
		.tab button:hover {
		  background-color: rgba(229, 90, 84, 1);
		}

		/* Create an active/current tablink class */
		.tab button.active {
		  background-color: rgba(229, 90, 84, 1);
		}

		/* Style the tab content */
		.tabcontent {
		  display: none;
		  
		  border: 1px solid #ccc;
		  border-top: none;
		}
		.tabcontent {
		  animation: fadeEffect 1s; /* Fading effect takes 1 second */
		}

		/*----appling css effects-----*/
		figure{
			margin:0;
		}
		.section{
			position:relative;
		}
		/*.scaling-on-offset{
			animation-name: scaling;
			animation-duration: 2s;
			animation-fill-mode: forwards;
		}
		@keyframes scaling{
			0%{
				transform: scale(0);
			}
			100%{
				transform: scale(1);
			}

		}*/
		/*.section:hover .outline{
			outline: 1px solid black;
			outline-offset: -2rem;

		}*/
		.section:hover .caption{
			display:flex;

		} 
		.section:hover img{
			opacity:0.7;
		}
		.caption{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			height:100px;
			width:60%;
			color:#ffffff;
			background-color: rgba(0,0,0,0.7);
			display: flex;
			justify-content: center;
			align-items: center;
			display:none;
			-webkit-transition: display ease-out 250ms;	
			transition: display ease-out 250ms;	
		}
		.caption p{
			text-align: center;
			padding:0.5rem;
		}

		.section img{
			opacity:1;
			transition: opacity ease-out 250ms;	
		}
		/*.outline{
			-webkit-transition: outline ease-out 250ms;
			transition: outline ease-out 250ms;
		}*/
		.moving-outline::before{
			position:absolute;
			content:"";
			top:1.25rem;
			bottom:1.25rem;
			left:1.25rem;
			right:1.25rem;
			
		}
		.moving-outline::before{
			border-top: 2px solid black;
			border-bottom: 2px solid black;
			transform: scale(0,1);
			transition: transform ease-out 250ms;
		}
		.moving-outline:hover::before{
			transform: scale(1,1);
		}

		.moving-outline::after{
			position:absolute;
			content:"";
			top:1.25rem;
			bottom:1.25rem;
			left:1.25rem;
			right:1.25rem;
			
		}
		.moving-outline::after{
			border-left: 2px solid black;
			border-right: 2px solid black;
			transform: scale(1,0);
			transition: transform ease-out 250ms;
		}
		.moving-outline:hover::after{
			transform: scale(1,1);
		}
		
		/*---- About me---------*/

		.About-me{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "interests ctts";
		}
		.about-me-interests{
			grid-area:interests;
			display:grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			
		}
		.about-me-interests>div{
			padding: 3rem;
			background-color: rgb(0,0,0,0.8);
			color:#ffffff;
			font-family: 'Merriweather Sans', sans-serif;
			font-size:1.2rem;

		}
		.about-me-interests>div h1{
			text-transform: uppercase;
		}
		.about-me-content{
			grid-area:ctts;

			padding:3rem;
		}
		.about-me-content>*{
			line-height: 2rem;
			font-family: 'Merriweather Sans', sans-serif;
		}
		@media screen and (max-width:786px){
			.about-me-content p{
				font-size: 1.2rem;
			}

		}
		.about-me-content-title{
			position: relative;
			font-family: 'Oxygen', sans-serif;
			font-size:2.8rem;	

		}
		.about-me-content-title div:first-child{
			margin-bottom: 16px;
		}
		/*------- awards --------*/
		.awards-section{
			position: relative;
			background-image: url("images/rewards4.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index:-1;
			color:#ffffff;	

		}
		.awards-section>h1, .awards-section div.border-bottom{
			padding-left:4rem;
			font-family: 'Oxygen', sans-serif;
			font-size:2.4rem;
		} 

		.awards-section div.border-bottom{
			margin-left: 4rem;
		}
		
		.awards{
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
		}
		@media screen and (max-width:786px){
			.awards{

			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}

		}
		.award{
			padding-left:8rem;
			padding-right:8rem;
			padding-bottom:8rem;

		
		}
		.award h1{
			font-family: 'Oxygen', sans-serif;
			font-size:2rem;
		}
		.award p{
			font-family: 'Merriweather Sans', sans-serif;
			font-size:1.2rem;
		}
		/*----- Contact me ---- */

		.contact-me{
			/*background-image: url("images/contact-me.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;*/	
		}
		.contact-me{
			position:relative;
		}
		.contact-image img{
			max-width:100%;
			height:auto;

		}
		.contact-wrapper{
			position:absolute;
			top:10%;
			left:40%;
			bottom:0;
		

		}
		.contact-me h1, .contact-me div.border-bottom{
			padding-left:4rem;
			font-family: 'Oxygen', sans-serif;
			font-size:2.8rem;
		} 
		.contact-me div.border-bottom{
			margin-left: 4rem;
		}
		.contact-me  p{
			padding-left:8rem;
			padding-right:8rem;
			font-family: 'Merriweather Sans', sans-serif;

		}
		.contact-details{
			display: flex;
			margin-top:1rem;
		}
		.contact-details>div{
			flex:1 1 0;		
		}
		.detail{
			display: flex;
			flex-direction: column;
			align-items:center;
		}
		.detail i{
			color:rgba(229, 90, 84, 1);;
		}
		/* ------footer --------*/
		footer{
			display: flex;
			justify-content: center;
			align-items: center;
			color: #eee;
			background-color: rgba(0,0,0,0.7);
			height: 100px
		}
		footer i{
			padding:1rem;
		}
		

		/* Go from zero to full opacity */
		@keyframes fadeEffect {
		  from {opacity: 0;}
		  to {opacity: 1;}
		}

		@media only screen and (max-width:768px) {
			.About-me{
				grid-gap:30px;
				grid-template-columns: 1fr;
				grid-template-areas: "interests"
									 "ctts";
			}
			.award{
				padding-bottom: 0;
			}
			.contact-me::after{
				position:absolute;
				top:0;
				width:100%;
				height:100%;
				content:"";
				background-color: rgba(42,43,47,.6);
				display:block;
				z-index:1;
			}
			.contact-wrapper{
				top:2rem;
				left:4rem;
				color:#ffffff;
				z-index:2;
			}
			.contact-wrapper p,.contact-wrapper h1, .contact-wrapper div.border-bottom {
				padding-left:0rem; 
				padding-right:3rem;
			}
			.contact-wrapper div.border-bottom {
				margin-left: 0rem;
			}
			.contact-details{

			}
			.contact-wrapper p{
				font-size:1rem;
			}
			.contact-wrapper i{
				font-size:1.5rem;
			}

			
		}
			
			
		}
		@media screen and (max-width:827px ){
			.tabcontent{
				grid-auto-rows: 300px;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			}
			
		}
		@media screen and (max-width:613px ){
			.tabcontent{
				grid-auto-rows: 150px;
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			}
			
		}
		








